<div class="header">
  <div class="container">
    <%= render :partial => 'layouts/html_header' %>
  </div>
</div>

<div class="game">
  <div class="container">
    <h2><%= @game.name %></h2>

    <div class="cards row">
      <% @songs.each do |s| %>
      <div class="card col-xs-4">
        <h2><%= s.name %></h2>
        <%= link_to "Listen", song_path(s) %>
      </div>
      <% end %>
    </div>

  </div>
</div>