<!DOCTYPE html>
<html lang="">

<head>
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <div class="wrapper">

        <div class="navbar-fixed">
            <%= render :partial => 'layouts/html_header' %>
        </div>
        <div class="color-block nobar z-depth-1">
          <h2 class="center-align">About</h2>
        </div>
        <div class="container">
          <div class="row">
            <div class="col s12">
              <div class="card-panel">                
                <span>
                  <i>Chip.tunes</i> is a website by game music fans, for game music fans. We hand-pick games with great music for you to listen to, based on popular games that you've probably already played and listened to. We try our best to update weekly, on Tuesdays.
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>

</html>