<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>

<body>
    <div class="wrapper">

        <div class="navbar-fixed">
            <%= render :partial => 'layouts/html_header' %>
        </div>
        <div class="color-block nobar z-depth-1">
          <h2 class="center-align">Contact</h2>
        </div>
        <div class="container">
          <div class="row">
            <div class="col s12">
              <div class="card-panel">
                
                  <span>If you'd like to leave a message for the webmaster (a game request, perhaps?), please type it out below.</span><br>

                  <form action=<%="/contact/email"%> method="post" name="contactform">
                      
                      <input placeholder="Name" type="text" name="name" id="name" />

                      <input placeholder="Email" type="email" name="email" id="email" />

                      <textarea name="message" placeholder="Write your message here." class="materialize-textarea"></textarea>

                      <button type="submit" name="submit" value="Send" class="btn waves-effect waves-light fullwidth"><strong>submit</strong><i class="material-icons right">send</i></button>

                  </form>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>

</html>