@import "materialize/components/color";
$primary-color: color("purple", "lighten-2") !default;
@import "materialize";

.brand-logo{
  height: 100%;
}

img.brand-logo{
	width: inherit;
}

.btn.waves-effect.waves-light{
  margin-top: 25px;
  margin-bottom: 0px;
}

.btn.waves-effect.waves-light.games{
  margin-top: 15px;
}
