@import "materialize/components/color";
$primary-color: color("purple", "darken-2") !default;
@import "materialize";

.brand-logo{
  height: 100%;
}

img.brand-logo{
	width: inherit;
}

.btn.waves-effect.waves-light{
  margin-top: 15px;
  margin-bottom: 0px;
}

body{
	background: white;
}

.container{
	background: white;
}

.about, .contact{
	color: black;
}

.card.small{
	height: 200px;
}

audio {
	width: 100%;
}

.card-title {
	color: white;
   	text-shadow:
       1px 1px 0 #000;
}

/*h2 {
	color: $primary-color;
}*/

.stripe {
	color: white;
	background: color("purple", "lighten-1");
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.color-block, .container.row {
	color: white;
	background: color("purple", "lighten-1");
}

.color-block h2 {
	margin-top: 0px;
	padding-top: 25px;
}

.nobar {
	padding-bottom: 1px;
	margin-bottom: 25px;
}

.fullwidth {
	width:100%;
}