<div class="header">
  <div class="container">
    <h1>chip.tunes</h1>
  </div>
</div>

<div class="category">
  <div class="container">
    <h2><%= @category.name %></h2>

    <div class="cards row">
      <% @games.each do |g| %>
      <div class="card col-xs-4">
        <%= image_tag g.image %>
        <h2><%= g.name %></h2>
        <%= link_to "Songs from this game", game_path(g) %>
      </div>
      <% end %>
    </div>

  </div>
</div>