<!DOCTYPE html>
<html lang="">

<head>
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <div class="wrapper">

        <header>
            <%= render :partial => 'layouts/html_header' %>
        </header>

        <div class="body">
            <section class="title">

                <h1>About</h1>
                <p><i>Chip.tunes</i> is a website by game music fans, for game music fans. We hand-pick games with great music for you to listen to, based on popular games that you've probably already played and listened to. We try our best to update weekly, on Tuesdays.</p>

            </section>
        </div>
    </div>
</body>

</html>